# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sorter.js
coverage/lcov-report/src/App.tsx.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/main.tsx.html
coverage/lcov-report/src/routes.tsx.html
coverage/lcov-report/src/vite-env.d.ts.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.tsx.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.tsx.html
coverage/lcov-report/src/Components/BodyTitleOther/index.html
coverage/lcov-report/src/Components/BodyTitleOther/index.tsx.html
coverage/lcov-report/src/Components/BuggyComponent/index.html
coverage/lcov-report/src/Components/BuggyComponent/index.tsx.html
coverage/lcov-report/src/Components/DetailInfo/index.html
coverage/lcov-report/src/Components/DetailInfo/index.tsx.html
coverage/lcov-report/src/Components/ErrorBoundary/index.html
coverage/lcov-report/src/Components/ErrorBoundary/index.tsx.html
coverage/lcov-report/src/Components/FavoritesIcon/index.html
coverage/lcov-report/src/Components/FavoritesIcon/index.tsx.html
coverage/lcov-report/src/Components/Footer/index.html
coverage/lcov-report/src/Components/Footer/index.tsx.html
coverage/lcov-report/src/Components/Header/index.html
coverage/lcov-report/src/Components/Header/index.tsx.html
coverage/lcov-report/src/Components/OtherGallery/index.html
coverage/lcov-report/src/Components/OtherGallery/index.tsx.html
coverage/lcov-report/src/Components/Pagination/index.html
coverage/lcov-report/src/Components/Pagination/index.tsx.html
coverage/lcov-report/src/Components/SearchBar/index.html
coverage/lcov-report/src/Components/SearchBar/index.tsx.html
coverage/lcov-report/src/Components/SectionTitle/index.html
coverage/lcov-report/src/Components/SectionTitle/index.tsx.html
coverage/lcov-report/src/Components/Skeleton/index.html
coverage/lcov-report/src/Components/Skeleton/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/index.html
coverage/lcov-report/src/Components/SortComponent/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.tsx.html
coverage/lcov-report/src/Components/SpecialGallery/index.html
coverage/lcov-report/src/Components/SpecialGallery/index.tsx.html
coverage/lcov-report/src/Components/Title/index.html
coverage/lcov-report/src/Components/Title/index.tsx.html
coverage/lcov-report/src/Pages/detailInfo/detailInfo.tsx.html
coverage/lcov-report/src/Pages/detailInfo/index.html
coverage/lcov-report/src/Pages/favorites/favorites.tsx.html
coverage/lcov-report/src/Pages/favorites/index.html
coverage/lcov-report/src/Pages/homePage/homePage.tsx.html
coverage/lcov-report/src/Pages/homePage/index.html
coverage/lcov-report/src/Pages/notFound/index.html
coverage/lcov-report/src/Pages/notFound/notFound.tsx.html
coverage/lcov-report/src/constants/api.ts.html
coverage/lcov-report/src/constants/index.html
coverage/lcov-report/src/utils/apiApp.tsx.html
coverage/lcov-report/src/utils/checkFavorites.tsx.html
coverage/lcov-report/src/utils/checkFavoritesDetailInfo.tsx.html
coverage/lcov-report/src/utils/getPaginationNumbers.tsx.html
coverage/lcov-report/src/utils/index.html
coverage/lcov-report/src/utils/sortDataByType.tsx.html
coverage/lcov-report/src/utils/types.ts.html
coverage/lcov-report/src/utils/validation.tsx.html
coverage/lcov-report/src/utils/hooks/index.html
coverage/lcov-report/src/utils/hooks/useAxiosArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useClickOutside.ts.html
coverage/lcov-report/src/utils/hooks/useDebounce.ts.html
coverage/lcov-report/src/utils/hooks/useGetDetailInfo.ts.html
coverage/lcov-report/src/utils/hooks/useGetOtherArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useHandleFavIdChange.ts.html
coverage/lcov-report/src/utils/hooks/useHandlePagination.ts.html
coverage/lcov-report/src/utils/hooks/useImageFallback.ts.html
coverage/lcov-report/src/utils/hooks/useSkeleton.tsx.html
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sorter.js
coverage/lcov-report/src/App.tsx.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/main.tsx.html
coverage/lcov-report/src/routes.tsx.html
coverage/lcov-report/src/vite-env.d.ts.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.tsx.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.tsx.html
coverage/lcov-report/src/Components/BodyTitleOther/index.html
coverage/lcov-report/src/Components/BodyTitleOther/index.tsx.html
coverage/lcov-report/src/Components/DetailInfo/index.html
coverage/lcov-report/src/Components/DetailInfo/index.tsx.html
coverage/lcov-report/src/Components/FavoritesIcon/index.html
coverage/lcov-report/src/Components/FavoritesIcon/index.tsx.html
coverage/lcov-report/src/Components/Footer/index.html
coverage/lcov-report/src/Components/Footer/index.tsx.html
coverage/lcov-report/src/Components/Header/index.html
coverage/lcov-report/src/Components/Header/index.tsx.html
coverage/lcov-report/src/Components/OtherGallery/index.html
coverage/lcov-report/src/Components/OtherGallery/index.tsx.html
coverage/lcov-report/src/Components/Pagination/index.html
coverage/lcov-report/src/Components/Pagination/index.tsx.html
coverage/lcov-report/src/Components/SearchBar/index.html
coverage/lcov-report/src/Components/SearchBar/index.tsx.html
coverage/lcov-report/src/Components/SectionTitle/index.html
coverage/lcov-report/src/Components/SectionTitle/index.tsx.html
coverage/lcov-report/src/Components/Skeleton/index.html
coverage/lcov-report/src/Components/Skeleton/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/index.html
coverage/lcov-report/src/Components/SortComponent/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.tsx.html
coverage/lcov-report/src/Components/SpecialGallery/index.html
coverage/lcov-report/src/Components/SpecialGallery/index.tsx.html
coverage/lcov-report/src/Components/Title/index.html
coverage/lcov-report/src/Components/Title/index.tsx.html
coverage/lcov-report/src/Pages/detailInfo/detailInfo.tsx.html
coverage/lcov-report/src/Pages/detailInfo/index.html
coverage/lcov-report/src/Pages/favorites/favorites.tsx.html
coverage/lcov-report/src/Pages/favorites/index.html
coverage/lcov-report/src/Pages/homePage/homePage.tsx.html
coverage/lcov-report/src/Pages/homePage/index.html
coverage/lcov-report/src/Pages/notFound/index.html
coverage/lcov-report/src/Pages/notFound/notFound.tsx.html
coverage/lcov-report/src/constants/api.ts.html
coverage/lcov-report/src/constants/index.html
coverage/lcov-report/src/utils/apiApp.tsx.html
coverage/lcov-report/src/utils/checkFavorites.tsx.html
coverage/lcov-report/src/utils/checkFavoritesDetailInfo.tsx.html
coverage/lcov-report/src/utils/getPaginationNumbers.tsx.html
coverage/lcov-report/src/utils/index.html
coverage/lcov-report/src/utils/types.ts.html
coverage/lcov-report/src/utils/validation.tsx.html
coverage/lcov-report/src/utils/hooks/index.html
coverage/lcov-report/src/utils/hooks/useAxiosArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useClickOutside.ts.html
coverage/lcov-report/src/utils/hooks/useDebounce.ts.html
coverage/lcov-report/src/utils/hooks/useGetDetailInfo.ts.html
coverage/lcov-report/src/utils/hooks/useGetOtherArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useHandleFavIdChange.ts.html
coverage/lcov-report/src/utils/hooks/useHandlePagination.ts.html
coverage/lcov-report/src/utils/hooks/useImageFallback.ts.html
coverage/lcov-report/src/utils/hooks/useSkeleton.tsx.html
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sorter.js
coverage/lcov-report/src/App.tsx.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/main.tsx.html
coverage/lcov-report/src/routes.tsx.html
coverage/lcov-report/src/vite-env.d.ts.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCard/index.tsx.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.html
coverage/lcov-report/src/Components/ArtWorkInfoCartSmall/index.tsx.html
coverage/lcov-report/src/Components/BodyTitleOther/index.html
coverage/lcov-report/src/Components/BodyTitleOther/index.tsx.html
coverage/lcov-report/src/Components/DetailInfo/index.html
coverage/lcov-report/src/Components/DetailInfo/index.tsx.html
coverage/lcov-report/src/Components/FavoritesIcon/index.html
coverage/lcov-report/src/Components/FavoritesIcon/index.tsx.html
coverage/lcov-report/src/Components/Footer/index.html
coverage/lcov-report/src/Components/Footer/index.tsx.html
coverage/lcov-report/src/Components/Header/index.html
coverage/lcov-report/src/Components/Header/index.tsx.html
coverage/lcov-report/src/Components/OtherGallery/index.html
coverage/lcov-report/src/Components/OtherGallery/index.tsx.html
coverage/lcov-report/src/Components/Pagination/index.html
coverage/lcov-report/src/Components/Pagination/index.tsx.html
coverage/lcov-report/src/Components/SearchBar/index.html
coverage/lcov-report/src/Components/SearchBar/index.tsx.html
coverage/lcov-report/src/Components/SectionTitle/index.html
coverage/lcov-report/src/Components/SectionTitle/index.tsx.html
coverage/lcov-report/src/Components/Skeleton/index.html
coverage/lcov-report/src/Components/Skeleton/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/index.html
coverage/lcov-report/src/Components/SortComponent/index.tsx.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.html
coverage/lcov-report/src/Components/SortComponent/SelectField/index.tsx.html
coverage/lcov-report/src/Components/SpecialGallery/index.html
coverage/lcov-report/src/Components/SpecialGallery/index.tsx.html
coverage/lcov-report/src/Components/Title/index.html
coverage/lcov-report/src/Components/Title/index.tsx.html
coverage/lcov-report/src/Pages/detailInfo/detailInfo.tsx.html
coverage/lcov-report/src/Pages/detailInfo/index.html
coverage/lcov-report/src/Pages/favorites/favorites.tsx.html
coverage/lcov-report/src/Pages/favorites/index.html
coverage/lcov-report/src/Pages/homePage/homePage.tsx.html
coverage/lcov-report/src/Pages/homePage/index.html
coverage/lcov-report/src/Pages/notFound/index.html
coverage/lcov-report/src/Pages/notFound/notFound.tsx.html
coverage/lcov-report/src/constants/api.ts.html
coverage/lcov-report/src/constants/index.html
coverage/lcov-report/src/utils/apiApp.tsx.html
coverage/lcov-report/src/utils/checkFavorites.tsx.html
coverage/lcov-report/src/utils/checkFavoritesDetailInfo.tsx.html
coverage/lcov-report/src/utils/getPaginationNumbers.tsx.html
coverage/lcov-report/src/utils/index.html
coverage/lcov-report/src/utils/types.ts.html
coverage/lcov-report/src/utils/validation.tsx.html
coverage/lcov-report/src/utils/hooks/index.html
coverage/lcov-report/src/utils/hooks/useAxiosArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useClickOutside.ts.html
coverage/lcov-report/src/utils/hooks/useDebounce.ts.html
coverage/lcov-report/src/utils/hooks/useGetDetailInfo.ts.html
coverage/lcov-report/src/utils/hooks/useGetOtherArtWorks.ts.html
coverage/lcov-report/src/utils/hooks/useHandleFavIdChange.ts.html
coverage/lcov-report/src/utils/hooks/useHandlePagination.ts.html
coverage/lcov-report/src/utils/hooks/useImageFallback.ts.html
coverage/lcov-report/src/utils/hooks/useSkeleton.tsx.html
