{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[react]",
    "^./hooks",
    "^~/icons",
    "^@(?!/)",
    "^@/components",
    "^@/utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
