@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.body-title {
    font-family: $font-family-primary;
    margin: 100px 0 40px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;

    &-favorite {
        margin: 29px 0 40px 0;
    }
}

.body-title p {
    color: $color-text;
    margin: 0;
}

.body-title p span {
    text-align: center;
    color: $primary-color-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}

@font-face {
    font-family: $font-family-primary;
    src: url("../../styles/LexendDecaRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}