@import '@/styles';

.special-gallery {
  position: relative;
  display: flex;
  width: 1280px;
  height: 514px;
  flex-direction: row;
  gap: 60px;
  justify-content: flex-start;

  @media screen and (max-device-width: $screen-resolution-for-monitors) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }
}
