$screen-resolution-for-monitors: 1280px;
$screen-resolution-for-netbooks: 1024px;
$screen-resolution-for-tablets: 768px;
$screen-resolution-for-smartphones: 320px;
$screen-resolution-for-other: 1490px;
