@import '@/app';

.home-title {
  font-family: $font-family-primary;
  margin: 120px 0 72px 0;
  font-size: 67px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}

@media screen and (max-device-width: $screen-resolution-for-tablets) {
  .home-title {
    line-height: 50px;
    font-size: 7vw;
  }
}

.home-title p {
  color: $color-text;
  margin: 0;
}

.home-title p span {
  color: $primary-color-text;
}
