 .home-title {
     font-family: 'LexendDeca';
     margin: 120px 0 72px 0;
     font-size: 67px;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-weight: 700;
     line-height: 80px
 }

 @media screen and (max-device-width: 768px) {
     .home-title {
         //  font-size: 40px;
         line-height: 50px;
         font-size: 7vw;
     }
 }

 .home-title p {
     color: #393939ff;
     margin: 0;
 }

 .home-title p span {
     color: #f17900ff;
 }

 @font-face {
     font-family: 'LexendDeca';
     src: url("../styles/LexendDecaRegular.woff") format("woff");
     font-style: normal;
     font-weight: normal;
 }