@import '@/App';

.select-field {
  display: flex;
  padding-left: 16px;
  font-family: $font-family-minor;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  border-radius: 4px;
  background-color: $background-color;
  width: 190px;
  height: 46px;
}

.select-field::-ms-expand {
  display: none;
}

.select-field:hover {
  border-color: $color-background-pagination;
}

.select-field:focus {
  border-color: $border-color-select;
  box-shadow: 0 0 1px 3px $color-background-pagination;
  color: $background-color-skeleton;
  outline: none;
}

.select option {
  font-weight: normal;
}

.container {
  padding-top: 24px;
  display: flex;
  width: 1280px;
  justify-content: flex-end;

  @media screen and (max-device-width: $screen-resolution-for-monitors) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
