.search-bar {
  display: flex;
  align-items: center;
  width: 762px;
  height: 64px;
  border-radius: 16px;
  background-color: #3939390c;
}

.search-input {
  border: none;
  outline: none;
  padding: 0px;
  flex: 1;
  border-radius: 16px 0 0 16px;
  padding-left: 16px;
  font-family: 'InterRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;


}

.search-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 16px 16px 0;
}

.search-button svg {
  fill: none;
}