@import '@/App';

.search-bar-error {
  display: flex;
  align-items: center;
  color: $color-text-error;
  padding-left: 16px;
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 400;
  line-height: 16.94px;
  padding-top: 80px;
  position: absolute;

  @media screen and (max-width: $screen-resolution-for-tablets) {
    .search-bar-error {
      font-size: 3vw;
      width: 100%;
      left: 0;
      right: 0;
    }
  }
}

.search-bar-error.visible {
  opacity: 1;
  transform: translateY(0);
}
.search-bar-center {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.search-bar {
  display: flex;
  align-items: center;
  height: 64px;
  border-radius: 16px;
  background-color: $background-color;
  width: 39%;

  @media screen and (max-device-width: $screen-resolution-for-monitors) {
    width: unset;
  }
}

.search-input {
  border: none;
  outline: none;
  padding: 0px;
  flex: 1;
  border-radius: 16px 0 0 16px;
  padding-left: 16px;
  font-family: $font-family-minor;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.search-button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 16px 16px 0;
}
