.footer  {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 127px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

background: rgba(255, 255, 255, 1);


.footer-Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 63px;
    }

.logo-Footer{
    height: 63px;
    width: 206px;
    top: 32px;
    left: 320px;
}

.logo-Moodsen{
    height: 59px;
    width: 164px;
    right:0px;
    vertical-align: middle; 
}
}