 .special-gallery{
    position: absolute;
    top: 762px;
    display: flex;
    width: 1280px;
    height: 514px;
    flex-direction: row;
    justify-content: space-between;

 }
  .special-gallery-card1{
    display: flex;
    width: 387px;
    height: 514px;
    border: 1px solid;
    color: rgba(240, 241, 241, 1)

 }
   .special-gallery-card2{
    display: flex;
    width: 387px;
    height: 514px;
    border: 1px solid;
    color: rgba(240, 241, 241, 1)

 }
   .special-gallery-card3{
    display: flex;
    width: 387px;
    height: 514px;
    border: 1px solid;
    color: rgba(240, 241, 241, 1)

 }