 .special-gallery{
    position: absolute;
    top: 762px;
    display: flex;
    align-items: center;
    width: 762px;
    height: 320px;

 }
  .special-gallery-card1{
    display: flex;
    width: 387px;
    height: 514px;

 }
   .special-gallery-card2{
    display: flex;
    width: 387px;
    height: 514px;

 }
   .special-gallery-card3{
    display: flex;
    width: 387px;
    height: 514px;

 }