@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.other-gallery-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 416px;
  height: 130px;
  background-color: $color-white;

  @media screen and (max-device-width: 1280px) {
    width: unset;
    gap: 10px;
  }
}

.other-image {
  display: flex;
  width: 80px;
  height: 80px;
}

.info-other-text-other {
  display: grid;
  width: 219px;
  height: 98px;
  flex-direction: column;
}

.info-fav-button-other {
  display: flex;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: $color-fav-button;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .img {
    display: grid;
    width: 24px;
    height: 24px;
  }
}

.title-other {
  font-size: 17.54px;
  font-weight: 500;
  line-height: 26.32px;
  letter-spacing: -0.03em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author-other {
  font-size: 15.35px;
  font-weight: 400;
  line-height: 26.32px;
  letter-spacing: -0.01em;
  text-align: left;
  text-decoration-skip-ink: none;
  color: $primary-color-text;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.public-domain-other {
  margin-top: 17px;
  font-size: 15.35px;
  font-weight: 700;
  line-height: 26.32px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-other {
  width: 219px;
  height: 98px;
  background-color: $color-white;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;

  @media screen and (max-device-width: 1280px) {
    width: 150px;
  }
}

.info-text-other {
  display: grid;
  width: 219px;
  height: 98px;
  font-family: $font-family-minor;
  align-items: end;
}
